@import "./variables.css";

.auth-right h3 {
  margin-bottom: 25px;
  color: var(--text-dark);
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  font-size: 13px;
  color: var(--text-muted);
  display: block;
  margin-bottom: 4px;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid var(--border-light);
}

.form-group input:focus {
  outline: none;
  border-color: var(--primary);
}

.forgot {
  font-size: 13px;
  text-align: right;
  margin-bottom: 18px;
  color: var(--primary);
  cursor: pointer;
}

/* Buttons */
.btn-primary {
  width: 100%;
  padding: 11px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary:hover {
  background: var(--primary-dark);
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  margin: 22px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: var(--border-light);
}

.divider span {
  margin: 0 10px;
  font-size: 12px;
  color: var(--text-muted);
}

/* Google button */
.btn-google {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-light);
  border-radius: 6px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-google img {
  width: 18px;
}
.btn-google:hover {
  background: #f8fafc; /* very light hover */
  border-color: var(--primary); /* subtle brand color */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

.signup-text {
  margin-top: 18px;
  font-size: 14px;
  text-align: center;
}

.signup-text span {
  color: var(--primary);
  cursor: pointer;
}
