/* .otp-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 16px 0;
}

.otp-container input {
  width: 44px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  border: 1.8px solid #cbd5f5;
  outline: none;
  transition: all 0.2s ease;
}

.otp-container input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
  transform: scale(1.05);
} */
:root {
  --primary: #2563eb;
  --primary-dark: #1d4ed8;

  --bg-main: #f5f7fb;
  --bg-card: #ffffff;

  --text-dark: #0f172a;
  --text-muted: #64748b;

  --border-light: #e5e7eb;
}
